section{
  margin:0 auto;
  width:80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
section .imageCard{
  width: 23%;
  margin:0 1%;
}
.imageCard p{
  font-size:.7rem;
  color:rgb(175, 172, 172);
  padding:.5rem 0;
  margin:0;
}
.imageCard img {
  max-width:100%;
}

