.modal{
  position: absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  background-color: rgba(255,255,255,.5);
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items:center;
}
.modal button {
  position: absolute;
  top:0;
  right:0;
}
.modal img{
  max-width: 100%;
  border:1px solid black;
  width: 80%;
  max-height:100vh;
  max-width:3300px;
  max-height:2550px;
}
